irrelevants/
clamav-0.101.1/
clamav-0.101.1.tar.gz
clamav-install-old.sh
uninstall.sh
utils.sh
setup.sh
workflow.sh
clamav-install.sh
clamav-istall.sh
freshclam.conf
ssmtp-install.sh
ssmtp.conf
ssmtp.conf ssmtp-install.sh
